<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>HackX Jr - Make Ideas Happen :: Inter-School Hackathon</title>
	<link rel="stylesheet" href="css/registerForm.css">
	<link rel="stylesheet" href="css/contactForm.css">
	<link rel="stylesheet" href="css/timelineCss.css">
	<!-- <link rel="stylesheet" href="css/animate.css"> -->
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

	<script>
		document.getElementsByTagName("html")[0].className += " js";
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/styles.css" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="500">
	<div class="se-pre-con"></div>

	<!--Navigation Bar-->
	<div id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="#"><img src="assets/images/logo-min.png" /></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"> <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#info">Info</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#schedule">Schedule</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#rules">Rules</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#register">Register</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#contact">Contact Us</a> </li>
				</ul>
			</div>
		</nav>
	</div>
	<!--End Navigation Bar-->
	<!--Start Home Section-->
	<div id="home">
		<div id="container-fluid">
			<div class="row">
				<div class="col-md-9 col-lg-7">
					<div class="caption text-center">
						<h1 class="mainTopic">
							hack<span id="x">X</span>
							<span id="jr2k19"><span id="j">J</span><span id="r">r.</span> <span class="typingVersion"></span></span>
						</h1>
						<!-- <span class="typingEffect"></span> Replace with this after ending r.</span> -->
						<br />
						<br />
						<h2 class="subTopic"><span id="changingText">Make Ideas <br>Happen!</span></h2>
						<br />
						<br /> <a class="regbtn btn btn-outline-light btn-lg" href="#register">Register Now!</a>
					</div>
				</div>
				<div class="col-md-3 col-lg-5 d-none d-sm-block" text-center>
					<img id="bannermascot" src="assets/images/mascot.png" img-fluid data-tilt />
				</div>
			</div>
		</div>

		<img src="assets/images/wave.png" class="bottom-img" />
	</div>

	<!--End Home Section-->

	<!--Start Info Section-->
	<div id="info">
		<div class="container">
			<div class="title text-center">
				<div class="row">
					<div class="col-s-push-6 col-md-6">
						<img id="bannermascot" src="assets/images/mascottyping.png" img-fluid data-tilt style="width:250px;" />
					</div>
					<div class="col-s-pull-6 col-md-6 text-center">
						<p data-aos="fade-up" data-aos-duration="900" class="info-title" style="font-size: 25px;">What is HackX Jr?</p>
						<p>
							HackX Jr is an inter-school hackathon which provides a platform for
							school students to transform their ideas into reality. It promotes
							school students to build technology-based solutions to problems they
							see in the society.

							<br><br>

							Participants are enabled the opportunity to develop their soft skills
							and find inspiration to their creativity as well as problem-solving
							capabilities through this competition. It paves the path for
							schoolchildren to be introduced to the IT pathway, create interest
							and eventually assess the possibilities as well as benefits of IT –
							based entrepreneurship. It also provides a platform for industries to
							address the schoolchildren, evaluate their potential and benefit from
							their unbiased and open-minded solutions.
						</p>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6">
						<p data-aos="fade-up" data-aos-duration="900" class="info-title" style="font-size: 25px;">Competition Details</p>
						<ul class="custom-list">
							<li>Students from any age group can participate in groups of 5 members and 1 mentor.
								(A/L students studying ICT from Physical Science stream or Technology stream are
								highly encouraged to take part)</li>
							<li>More than one team can participate from one school.</li>
							<li>Idea must be novel and feasible.</li>
							<li>A fully functional prototype for the final demonstration is not compulsory, but encouraged.</li>
							<li>Proposal and the final pitching can be done in either Sinhala or English medium.</li>
						</ul>
					</div>
					<div class="col-md-6">
						<p data-aos="fade-up" data-aos-duration="900" class="info-title" style="font-size: 25px;">Awards</p>
						<div class="container">
							<div class="row">
								<div data-aos="flip-left" data-aos-duration="900" class="col-md-6">
									<figure class="trophy" data-tilt>
										<img src="assets/images/1stplace.png">
										<figcaption>Rs. 25,000</figcaption>
									</figure>
								</div>
								<div data-aos="flip-left" data-aos-duration="900" class="col-md-6">
									<figure class="trophy" data-tilt>
										<img src="assets/images/2ndplace.png">
										<figcaption>Rs. 20,000</figcaption>
									</figure>
								</div>
							</div>
							<div data-aos="flip-left" data-aos-duration="900" class="row text-center">
								<div class="col-md-12">
									<figure class="trophy" data-tilt>
										<img src="assets/images/3rdplace.png">
										<figcaption>Rs. 15,000</figcaption>
									</figure>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p data-aos="fade-up" data-aos-duration="900" class="info-title" style="font-size: 25px;">Awareness Session</p>
						<p>The awareness session will be conducted prior to the hackathon
							focusing on several aspects including introduction to hackathons,
							areas to focus on developing the solutions, technological tools
							that might be helpful and potential clues on how to market their product.<br>
							Lecturers from the Department of Industrial Management, professionals
							and experts from the related fields will guide teams through brainstorming.
						</p>
						<p><b><img src="assets/images/timendate.png" style="width:25px;"><span class="padThis10">Date: 27th September 2019</span><br><img src="assets/images/marker.png" style="width:20px;"><span class="padThis10">Venue: Dharmaloka Hall,
									University of Kelaniya</span></b></p>
						<!-- <ul class="custom-list">
                      <li>The participating group representing the school should be limited to be comprised of <b>five students and one teacher.</b></li>
                      <li>Confirmation of the participation for the awareness session is required to be made on or before <b>14th of September,
                            2019 </b>by completing the Awareness Session Confirmation Form through www.hackxjr.lk</li>
                </ul> -->
						<a class="regbtn btn btn-outline-light btn-lg awarenessSession" href="#register">Register For <br>Awareness Session!</a>
					</div>
					<div class="col-md-6">
						<p data-aos="fade-up" data-aos-duration="900" class="info-title" style="font-size: 25px;">Finale</p>
						<p>The Final event will require the finalist teams to present their idea or product
							infront of a judge panel. <br>
							(Finalist teams are shortlisted through proposal selection)<br>
							A prototype is preferred although not compulsory.
							The evaluation will be done under several criteria such as
							feasibility, technologies used,
							marketability, sustainability and adherance to time constraints.
						</p>
						<!-- <ul class="custom-list">
                        <li>Teams are allowed to present their ideas either in Sinhala or English.</li>
                        <li>Participants are encouraged to design their own promotional material for their team.</li>
                        <li>The proposal submitted in the application process will be used for the selection process to filter finalist teams. </li>
                  </ul> -->
						<p><b><img src="assets/images/timendate.png" style="width:25px;"><span class="padThis10">Date: 19th October 2019</span><br><img src="assets/images/marker.png" style="width:20px;"><span class="padThis10">Venue: Dialog Axiata Auditorium,
									Union Place, Colombo 02</span></b></p>
						<a class="regbtn btn btn-outline-light btn-lg awarenessSession" href="#register"><b>Apply Now!</b></a>
					</div>
				</div>
			</div>
			<!-- <div class="row">
                <div class="col-md-6">
                      <h2 style="margin-top:30px;"><b>And this is how it's done!</b></h2>
                </div>
                <div class="col-md-6">
                        <h2 style="margin-top:30px;"><b>And this is how it's done!</b></h2>
                  </div>
            </div> -->
		</div>
	</div>
	</div>
	<!--End Info Section-->'

	<!--Start Timeline Schedule-->

	<div id="schedule">
		<section class="cd-timeline js-cd-timeline">
			<div class="container container--lg cd-timeline__container">
				<div class="cd-timeline__block">
					<div class="cd-timeline__img cd-timeline__img--picture">
						<img src="assets/images/open.png" alt="Picture">
					</div> <!-- cd-timeline__img -->

					<div class="boxColour cd-timeline__content text-component">
						<h2>Registrations Open for HackX Jr!</h2>
						<!-- <p class="text--subtle">Make a team, put on a team name, make a proposal and REGISTER NOW! </p> -->

						<div class="flex flex--space-between flex--center-y">
							<span class="cd-timeline__date">September 6</span>
							<a href="#register" class="btn btn--subtle" style="background-color: darkcyan;color:white;border-radius:25px;font-family:'Lato',sans-serif;">Register Now</a> </div>
					</div>
					<!-- cd-timeline__content -->
				</div>
				<!-- cd-timeline__block -->
				<div class="cd-timeline__block">
					<div class="cd-timeline__img cd-timeline__img--movie"> <img src="assets/images/close.png" alt="Movie"> </div>
					<!-- cd-timeline__img -->
					<div class="boxColour cd-timeline__content text-component">
						<h2>Registrations Close for Awareness Session</h2>
						<!-- <p class="text--subtle">Get onboard now! Don't miss the chance!</p> -->
						<div class="flex flex--space-between flex--center-y"> <span class="cd-timeline__date">September 20</span> <a href="#register" class="btn btn--subtle"
								style="background-color: darkcyan;color:white;border-radius:25px;font-family:'Lato',sans-serif;">Register Now</a> </div>
					</div>
					<!-- cd-timeline__content -->
				</div>
				<!-- cd-timeline__block -->
				<div class="cd-timeline__block">
					<div class="cd-timeline__img cd-timeline__img--picture"> <img src="assets/images/awarenessDate.png" alt="Picture"> </div>
					<!-- cd-timeline__img -->
					<div class="boxColour cd-timeline__content text-component">
						<h2>Awareness Session</h2>
						<p class="text--subtle">Awareness Session takes place at the Dharmaloka Hall, University of Kelaniya from 9.00AM to 2.00PM. </p>
						<div class="flex flex--space-between flex--center-y"> <span class="cd-timeline__date">September 27</span> </div>
					</div>
					<!-- cd-timeline__content -->
				</div>
				<!-- cd-timeline__block -->
				<div class="cd-timeline__block">
					<div class="cd-timeline__img cd-timeline__img--movie"> <img src="assets/images/close.png" alt="Location"> </div>
					<!-- cd-timeline__img -->
					<div class="boxColour cd-timeline__content text-component">
						<h2>Registrations Close for HackX Jr</h2>
						<div class="flex flex--space-between flex--center-y"> <span class="cd-timeline__date">October 04</span> </div>
					</div>
					<!-- cd-timeline__content -->
				</div>
				<!-- cd-timeline__block -->
				<div class="cd-timeline__block">
					<div class="cd-timeline__img cd-timeline__img--location"> <img src="assets/images/shortlist.png" alt="Location"> </div>
					<!-- cd-timeline__img -->
					<div class="boxColour cd-timeline__content text-component">
						<h2>Shortlisted Teams are Announced!</h2>
						<p class="text--subtle"></p>
						<div class="flex flex--space-between flex--center-y"> <span class="cd-timeline__date">October 11</span> </div>
					</div>
					<!-- cd-timeline__content -->
				</div>
				<!-- cd-timeline__block -->
				<div class="cd-timeline__block">
					<div class="cd-timeline__img cd-timeline__img--movie" style="background-color: green;"> <img src="assets/images/hack.png" alt="Movie"> </div>
					<!-- cd-timeline__img -->
					<div class="boxColour cd-timeline__content text-component">
						<h2>HackX Jr : Final Event</h2>
						<p class="text--subtle">Event is held at Dialog Axiata Auditorium, Union Place, Colombo 02</p>
						<div class="flex flex--space-between flex--center-y"> <span class="cd-timeline__date">October 19</span> </div>
					</div>
					<!-- cd-timeline__content -->
				</div>
				<!-- cd-timeline__block -->
			</div>
		</section>
	</div>
	<!--End Timeline Section-->
	<!--Start Rules Section-->
	<div id="rules">
		<div class="container">
			<div class="title text-center">
				<div class="row">
					<div data-aos="fade-up" data-aos-duration="900" class="col-md-12">
						<p class="info-title" style="font-size: 40px;">Things to keep in mind..</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div data-aos="fade-up" data-aos-duration="900" class="topicBox"> <img class="topicImg" src="assets/images/scoring.png"> <span data-aos="fade-up" data-aos-duration="900" class="topicText info-title">Scoring</span> </div>
						<p class="letteringPara"><img src="assets/images/A.png" class="lettering"><span class="padThis">Concept</span></p>
						<p class="textToLeft">Marks will be allocated for</p>
						<ul class="custom-list" style="padding-left:30px;">
							<li>Novelty / distinctive competency.</li>
							<li>Societal impact.</li>
							<li>Feasibility of the idea.</li>
						</ul>
						<br>
						<p class="letteringPara"><img src="assets/images/B.png" class="lettering"><span class="padThis">Presentation</span></p>
						<p class="textToLeft">Marks will be allocated for</p>
						<ul class="custom-list" style="padding-left:30px;">
							<li>Clarity and completeness.</li>
							<li>Sustainability.</li>
							<li>Business/marketing plan.</li>
							<li>Adhering to the time constraints.</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div data-aos="fade-up" data-aos-duration="900" class="topicBox"> <img class="topicImg" src="assets/images/team.png"> <span class="topicText info-title">Team Organization</span> </div>
						<ul class="custom-list">
							<li>A team should consist of a <b>maximum of five members.</b></li>
							<li>Every group <b>must</b> appoint a <b>mentor</b> for the team, preferably the teacher-in-charge of A/L ICT subject stream, or a teacher of a similar capacity.</li>
							<li><b>No</b> participant is allowed to represent two groups. Inclusion of the same member in two different teams will lead to automatic disqualification of <b>both groups.</b></li>
							<li>Participants are encouraged to design their own <b>promotional material</b> for their team.</li>
							<li>Participants can choose an appropriate title for their team.</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div data-aos="fade-up" data-aos-duration="900" class="topicBox"> <img class="topicImg" src="assets/images/apply.png"> <span class="topicText info-title">Application Process</span> </div>
						<ul class="custom-list">
							<li>Applications can be submitted from <b>6th September 2019 to 4th October
									2019</b> through the Official web site of the event www.hackxjr.lk</li>
							<li>Partially completed applications will be rejected.</li>
							<li>The proposal should be uploaded as a PDF document.</li>
							<li>The content of the proposal should follow the following format not exceeding the word limit 2000 words.</li>
							<ol class="orderedList">
								<li class="customBullet">1. Problem Definition</li>
								<li class="customBullet">2. Concept Overview</li>
								<li class="customBullet">3. Technologies Used</li>
								<li class="customBullet">4. Marketing Plan</li>
							</ol>
							<li>The proposals will be evaluated through a predefined set of criteria.</li>
							<li><b>15 best teams</b> will be selected for the final competition.</li>
							<li>Final 15 teams will be informed through the website, e-mail and social media, and those schools will also be informed through a letter.</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div data-aos="fade-up" data-aos-duration="900" class="topicBox"> <img class="topicImg" src="assets/images/awareness.png"> <span class="topicText info-title">Awareness Session</span> </div>
						<ul class="custom-list">
							<li>An awareness session for the competition will be conducted on <b>27th September 2019 from 9.00am to 2.00pm</b> at the University premises (more details will be informed to registered participants through email, and website).</li>
							<li>During this session, the students will be provided with information about the hackathon, areas to focus on developing the solutions, technological tools that might be helpful and potential clues on how to market their product.</li>
							<li>Lecturers from the Department of Industrial Management, professionals and experts from the related fields will guide teams through brainstorming.</li>
							<li>The participating group representing the school should be limited to be comprised of two students and one teacher.</li>
							<li>Confirmation of the participation for the awareness session is required to be made on or before <b>20th of September 2019</b> by completing the Awareness Session Confirmation Form through the www.hackxjr.lk website.</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div data-aos="fade-up" data-aos-duration="900" class="topicBox"> <img class="topicImg" src="assets/images/finale.png"> <span class="topicText info-title">Finale</span> </div>
						<ul class="custom-list">
							<li>Final round selected teams will compete on the hackathon, which is scheduled to be held on <b>19th October at the Dialog Axiata Auditorium, Union Place, Colombo 02.</b></li>
							<li>Each individual team needs to present their idea and how they expect to implement their solution (preferably with a prototype demonstration).</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="row">
                      <div class="col-md-6">
                            <h2 style="margin-top:30px;"><b>And this is how it's done!</b></h2>
                      </div>
                      <div class="col-md-6">
                              <h2 style="margin-top:30px;"><b>And this is how it's done!</b></h2>
                        </div>
                  </div> -->
		</div>
	</div>
	</div>
	<!--End Rules Section-->'
	<!--Start About Section-->
	<div id="about" style="background: #f5f5f5;">
		<div class="container-fluid text-center">
			<h2 data-aos="fade-up" data-aos-duration="900" class="title"><b>About Us</b></h2>
			<div class="row">
				<div class="col-md-4 text-center aboutbox" data-tilt> <img src="assets/images/vision.png" class="what-img" />
					<h4>Our Vision</h4>
					<p> Our vision is to be recognized as the pioneering platform for providing the school children of the country
						<br />with an opportunity to bring forth their ideas and accelerate creation and development of new radical solutions. </p>
				</div>
				<div class="col-md-4 text-center aboutbox" data-tilt> <img src="assets/images/mission.png" class="what-img" />
					<h4>Our Mission</h4>
					<p> Our mission is to spark innovative ideas and develop a creative and entrepreneurial culture among the school community, who will in turn contribute to global knowledge and economy, by exposing them to the corporate sector. </p>
				</div>
				<div class="col-md-4 text-center aboutbox" data-tilt> <img src="assets/images/uni.png" class="what-img editedImg" />
					<h4>Who are we?</h4>
					<p> HackX Jr is organized by the Industrial Management Science Students' Association (IMSSA), which is the student body of the Department of Industrial Management of the University of Kelaniya. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center aboutbox" data-tilt> <img src="assets/images/ideamart.png" class="what-img" style="width:300px;" />
					<h4>Official Platinum Partner</h4>
				</div>
				<div class="col-md-4 text-center aboutbox" data-tilt> <img src="assets/images/icta.png" class="what-img" style="width:280px;" />
					<h4>Official Knowledge Partner</h4>
				</div>
				<div class="col-md-4 text-center aboutbox" data-tilt> <img src="assets/images/sef.png" class="what-img" style="width:300px;" />
					<h4>Official Outreach Partner</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 text-center aboutbox" data-tilt> <img src="assets/images/national.png" class="what-img" style="width:100px;" />
					<h4>Supervised By</h4>
					<h6>The Ministry of Education</h6>
				</div>
				<div class="col-md-6 text-center aboutbox" data-tilt> <img src="assets/images/slasscom.png" class="what-img" style="width:300px;margin-top:12%;" />
					<h4>Official Knowledge Partner</h4>
				</div>
			</div>
		</div>
	</div>
	<div id="register" style="background: rgb(248, 243, 175);">
		<div class="row">
			<div data-aos="fade-up" data-aos-duration="900" class="col-md-12 text-center">
				<p class="info-title" style="font-size: 40px;"><b>Register Here!</b></p>
			</div>
			<div class="container" style="padding-bottom:50px;">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<div data-aos="fade-up" data-aos-duration="900" class="col-md-12 text-center">
							<p class="info-title" style="font-size: 28px;">Register for HackX Jr</p>
						</div>
						<div class="container">
							<div class="container">
								<section class="contact-wrap">
									<div class="form-style-5">
										<form method="post" enctype="multipart/form-data" action="/jrreg">
											<fieldset>
												<legend><span class="number">1</span> Lets Start..</legend>
												<input type="text" name="teamName" placeholder="Team Name *" required>
												<input type="text" name="schoolName" placeholder="Your School *" required>
												<input type="text" name="district" placeholder="District *" required>
												<input type="text" name="mentor" placeholder="Name of Mentor/Teacher-in-charge*" required>
												<input type="email" name="email" placeholder="Enter an email we can reach you *" required>
												<input type="number" name="mobile" placeholder="Enter a mobile number we can contact you *" required>
												<label for="awareness">Will you be attending the awareness session?</label>
												<select id="awareness" name="aware">
													<option value="yes">Yes we will!</option>
													<option value="no">No we won't.</option>
													<option value="maybe">Maybe.</option>
												</select>
											</fieldset>
											<fieldset>
												<legend><span class="number">2</span> Team Info</legend>
												<input type="text" name="member1" placeholder="Name: (Member 1) *" required>
												<input type="text" name="member2" placeholder="Name: (Member 2) ">
												<input type="text" name="member3" placeholder="Name: (Member 3) ">
												<input type="text" name="member4" placeholder="Name: (Member 4) ">
												<input type="text" name="member5" placeholder="Name: (Member 5) ">
											</fieldset>
											<legend><span class="number">3</span> Your Proposal</legend>
											Select a file: * (A PDF and Maximum File Size 10MB)<br><br> <input id="propUpload" type="file" accept="application/pdf" name="proposal" required><br><br>
											<input type="submit" value="Apply" />
										</form>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6">
						<div class="container">
							<div data-aos="fade-up" data-aos-duration="900" class="col-md-12 text-center">
								<p class="info-title" style="font-size: 28px;">Register for Awareness Session</p>
							</div>
							<div class="container">
								<div class="form-style-5">
									<form method="post" enctype="multipart/form-data" action="/awarenessreg">
										<fieldset>
											<legend>Put in your info..</legend>
											<input type="text" name="teamName" placeholder="Your School *" required>
											<input type="text" name="district" placeholder="District *" required>
											<input type="text" name="mentor" placeholder="Name of Mentor/Teacher-in-charge *" required>
											<input type="text" name="studentCount" placeholder="Number of Students attending *" required>
											<input type="email" name="email" placeholder="Enter an email we can reach you *" required>
											<input type="number" name="mobile" placeholder="Enter a mobile number we can contact you *" required>
										</fieldset>

										<input type="submit" value="Register" />
									</form>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="contact" style="background: white;">
			<div class="row">
				<div data-aos="fade-up" data-aos-duration="900" class="col-md-12 text-center">
					<p class="info-title" style="font-size: 40px;">Contact Us</p>
				</div>
			</div>
			<div class="container">
				<section class="contact-wrap">
					<form method="post" action="/contactreq"  enctype="multipart/form-data" class="contact-form">
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block">
									<label>First Name</label>
									<input type="text" class="form-control" name="fname"> </div>
							</div>
							<div class="col-sm-6">
								<div class="input-block">
									<label>Last Name</label>
									<input type="text" class="form-control" name="lname"> </div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block">
									<label>Email</label>
									<input type="text" class="form-control" name="email"> </div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block">
									<label>Message Subject</label>
									<input type="text" class="form-control" name="subject"> </div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block textarea">
									<label>Drop your message here</label>
									<textarea rows="3" type="text" class="form-control" name="message"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<button class="square-button">Send</button>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
		<!--Footer Section-->
		<section id="footer"> <img src="assets/images/waveInvert.png" class="footer-img">
			<div class="container">
				<div class="row" text-center style="font-size:12px;padding-top:20px;">
					<div class="col-md-2 text-center">
						<p style="font-size:22px;"><b>General Links</b></p> <a href="http://www.mit.kln.ac.lk/" style="color:white;">&nbsp; Department of Industrial Management</a>
						<br> <a href="https://www.kln.ac.lk/index.php/en/" style="color:white;">&nbsp; University of Kelaniya</a>
					</div>
					<div class="col-md-5 text-center" style="padding-left:60px;">
						<p style="font-size:22px;"><b>General Information</b></p>
						<p><b>Industrial Management Science Students' Association.</b></p>
						<p><img src="assets/images/locationWhite.png" style="width:25px;">Department of Industrial Management, University of Kelaniya, Dalugama</p>
						<p><img src="assets/images/phoneWhite.png" style="width:25px;">&nbsp;Phone: +94(0)11 2903282-5</p>
						<p><img src="assets/images/emailWhite.png" style="width:25px;">&nbsp;im@kln.ac.lk</p>
					</div>
					<div class="col-md-3 text-center">
						<p style="font-size:22px;"><b>Call us</b></p>
						<p>&nbsp;Ravindu Fernando: 071 750 3812</p>
						<p>&nbsp;Menushi Lakshika: 071 686 3665</p>
						<p>&nbsp;Pasindu Wijesinghe: 071 040 9845</p>
					</div>
					<div class="col-md-2 text-center">
						<p style="font-size:22px;"><b>Email Us</b></p>
						<p>hackxjr.mit@gmail.com</p>
					</div>
				</div>
				<div class="row" style="font-size:10px;padding-top:10px;">
					<div class="col-md-12 text-center">
						<p>2019 © Industrial Management Science Students' Association. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--End Footer Section-->

	<script>
		$(document).ready(function() {
			// Add scrollspy to <body>
			$('body').scrollspy({
				target: ".navbar",
				offset: 50
			});
			// Add smooth scrolling on all links inside the navbar
			$("#navbarSupportedContent a").on('click', function(event) {
				// Make sure this.hash has a value before overriding default behavior
				if (this.hash !== "") {
					// Prevent default anchor click behavior
					event.preventDefault();
					// Store hash
					var hash = this.hash;
					// Using jQuery's animate() method to add smooth page scroll
					// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function() {
						// Add hash (#) to URL when done scrolling (default click behavior)
						window.location.hash = hash;
					});
				} // End if
			});
		});
	</script>
	<script type="text/javascript">
		var uploadField = document.getElementById("propUpload");
		uploadField.onchange = function() {
			if (this.files[0].size > 10485760) {
				alert("File is too big! Maximum file size is 10MB.");
				this.value = "";
			};
		};
	</script>
	<script src="assets/js/aos.js"></script>
	<script type="text/javascript">
		AOS.init();
	</script>
	<script src="assets/js/typed.js"></script>
	<script type="text/javascript">
		var typed = new Typed('.typingEffect', {
			strings: ["Inter-School Hackathon", "Make Ideas Happen!"],
			loop: true,
			typeSpeed: 100,
			backSpeed: 50
		});
	</script>
	<script type="text/javascript">
		var typed = new Typed('.typingVersion', {
			strings: ["2<span id=\"k\">k</span>19", "<span id=\"k\">2.0</span>"],
			loop: true,
			typeSpeed: 100,
			backSpeed: 50
		});
	</script>
	<script type="text/javascript">
		var text = ["Inter-School <br>Hackathon", "Make Ideas <br>Happen!"];
		var counter = 0;
		var elem = document.getElementById("changingText");
		setInterval(change, 2500);

		function change() {
			elem.classList.add('hide');
			setTimeout(function() {
				elem.innerHTML = text[counter];
				elem.classList.remove('hide');
				counter++;
				if (counter >= text.length) {
					counter = 0;
				}
			}, 500);
		}
	</script>
	<script src="assets/js/contact.js"></script>
	<script src="assets/js/timeline.js"></script>
	<script src="assets/jquery/particles.js" type="text/javascript"></script>
	<script src="assets/jquery/app.js" type="text/javascript"></script>
	<script src="assets/jquery/tilt.jquery.js" type="text/javascript"></script>
	<script>
		//paste this code under the head tag or in a separate js file.
		// Wait for window load
		$(document).ready(function() {
			// Animate loader off screen
			$(".se-pre-con").removeClass();
		});
	</script>
</body>

</html>
